<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/CSS/bootstrap.min.css" />
  </head>
  <body class="text-center">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h2>INNOVACCER-SUMMERGEEKS-2020-ASSIGNMENT</h2>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="card col-sm-6 border-primary">
          <div class="card-body">
            <h5 class="card-title display-4">Are You A Visitor?</h5>
            <p class="card-text">
              If You Are A Visitor Click On The Button And Head Over To The
              Visitor's Section
            </p>
            <a href="/visitor" class="btn btn-primary ">Click here!</a>
          </div>
        </div>
        <div class="card col-sm-6 border-primary">
          <div class="card-body">
            <h5 class="card-title display-4">Are You A Host?</h5>
            <p class="card-text">
              If You Are A Host Click On The Button And Head Over To The Host's
              Section
            </p>
            <a href="/host" class="btn btn-primary">Click here!</a>
          </div>
        </div>
        <div class="card col-sm-12 border-primary">
          <div class="card-body">
            <h5 class="card-title display-4">Already Visited?</h5>
            <p class="card-text">
              If You Have Already Visited Click On The Button And Head Over To
              The Checkout's Section
            </p>
            <a href="/visitor/checkoutVisitor" class="btn btn-primary">Click here!</a>
          </div>
        </div>
      </div>
    </div>
    <script src="/JS/jquery.min.js"></script>
    <script src="/JS/bootstrap.min.js"></script>
    <script src="/JS/home.js"></script>
  </body>
</html>
